.main {
    /*
    background-image: url(../img/flower.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    */
}

.message {
    font-size: 550%;
    text-align: center;
    padding : 40px;
}

.timer {
    font-size: 900%;
    text-align: center;
}

.timeout {
    color: red;
}

.minutes, .hours, .seconds {
    text-align: center;
    display:inline;
}
