.main {
    /*
    background-image: url(../img/flower.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    */
}

.message {
    font-size: 550%;
    text-align: center;
    padding : 40px;
}

.start {
    font-size: 900%;
    text-align: center;
}

.timer {
    font-size: 900%;
    text-align: center;
    -webkit-box-reflect: below -60px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 50%,rgba(0,0,0,0.3));
}

.timeout {
    color: red;
}

.minutes, .hours, .seconds {
    text-align: center;
    display:inline;
}


section .inner div {
    opacity: 0;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-animation-name: Drop;
    animation-name: Drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#sakura .inner div {
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    background: url("http://hayachi.github.io/drop_animation/images/sakura.png") no-repeat;
    /*background: url("http://www.hanachosai.com/wp/wp-content/themes/hanachotmp/images/flower7.png") no-repeat;
    background-size: 2%;*/
}
 
#sakura .inner div.flake2,
#sakura .inner div.flake4,
#sakura .inner div.flake6,
#sakura .inner div.flake8 {
    background-size: 7px 8px !important;
}

.flake1 {
    left: 10%;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}
 
.flake2 {
    left: 20%;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
 
.flake3 {
    left: 30%;
    -webkit-animation-duration: 2.9s;
    animation-duration: 2.9s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
 
.flake4 {
    left: 40%;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
 
.flake5 {
    left: 50%;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
 
.flake6 {
    left: 60%;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
 
.flake7 {
    left: 70%;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
 
.flake8 {
    left: 80%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.flake9 {
    left: 90%;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
 
.flake10 {
    left: 100%;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
 

@-webkit-keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }
 
    50% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 1;
    }
 
    100% {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
        opacity: 0.3;
    }
}
 
@keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }
 
    50% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 1;
    }
 
    100% {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
        opacity: 0.3;
    }
}
